html{
    box-sizing: border-box;
}
body {
    background-image: url("../images/bg-intro-desktop.png");
    background-color: hsla(0, 100%, 74%);
    display: flex;
    flex-direction: column;
    font-family: "Poppins", "Helvetica", sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
    margin: auto;
}

#top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) .2rem .2rem 5px);
}

section > div{
    width: 500px;
    height: 50px;
}

#trial{
    width: 500px;
    height: 50px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    font-weight: 700;
    border-radius: .2rem;
    margin-bottom: 30px;
    border: none;
}

#trial #then{
    font-weight: 100;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#box .panel{
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

#box #left{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 10px;
    line-height: 98%;
}

h2{
    font-weight: 400;
    font-size: .8rem;
    margin-right: 50px;
}

#box #right{
    filter: drop-shadow(rgba(0, 0, 0, 0.5) .2rem .2rem 5px);
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    justify-content: space-evenly;
    border-radius: .5rem;
}

.input{
    height: 40px;
    margin: 0 35px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: .2rem;
    font-weight: 700;
    padding: 0 20px;
}


.input:focus::placeholder{
    color: black;
}

#submit{
    background: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px;
    margin: 0 35px;
    border-radius: .2rem;
    border: none;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) .2rem .2rem 5px);
}

p{
    color: hsl(246, 25%, 77%);
    font-size: .7rem;
    text-align: center;
    font-weight: 400;
    margin-top: -15px;
}

#terms{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

.attribution{
    margin-top: 30px;
    color: white;
}


